<div class="profile profileInfo">
    <header>
        <h1>Profile Information</h1>
        <!-- <input type='submit' ng-click='updateUserInfo(userId)' value='Edit Info'> -->
    </header>

    <div class="userinfo">{{user.firstName}} {{user.lastName}}</div>
    <div class="userinfo">{{user.email}}</div>
    <div class="userinfo">Total Bucks in Account: {{user.devBucks}}</div>
</div>
<div class="profileWrapper">
<header>
    <h1>Favorites</h1>
</header>
    <div class="profile favorites">


        <div class="favorites" ng-repeat='favorite in user.favorites track by $index'>
            <div class="post title"><a href={{favorite.url}} target='_blank'>{{favorite.title}}</a></div>
            <div class="post description">{{favorite.desc}}</div>
            <input type='submit' ng-click='removeFavorite(user._id, favorite._id, $index)' value='Remove' />

        </div>

    </div>
<header>
    <h1>View Later</h1>
</header>
    <div class="profile viewLater">


        <div class="viewLater" ng-repeat='post in user.viewLater'>

            <div class="post title"><a href={{post.url}} target='_blank'>{{post.title}}</a></div>
            <div class="post description">{{post.desc}}</div>
            <input type='submit' ng-click='removeviewLater(user._id, post._id, $index)' value='Remove' />

        </div>

    </div>
</div>
<div class="profileWrapper bottom">
<header>
    <h1>Bounties</h1>
</header>
    <div class="profile bounties">


        <div class="bounties" ng-repeat='bounty in user.bounties track by $index'>

            <div class="post title">{{bounty.title}}</div>
            <div class="post cat">{{bounty.cat}}</div>
            <div class="post value">{{bounty.value}}</div>

        </div>

    </div>
<header>
    <h1>Posts</h1>
</header>
    <div class="profile Posts">



        <div ng-repeat='post in user.posts'>

            <div class="post title"><a href={{post.url}} target='_blank'>{{post.title}}</a></div>
            <div class="post description">{{post.desc}}</div>
            <input type="submit" ng-click='deletePost(post._id, $index)' value='Remove' />

        </div>

    </div>

</div>
