<div class="profileWrapper">
    <div class="profile profileInfo">
        <header>
            <h1>Profile Information</h1>
            <!-- <input type='submit' ng-click='updateUserInfo(userId)' value='Edit Info'> -->
        </header>

        <div class="userinfo">{{user.firstName}} {{user.lastName}}</div>
        <div class="userinfo">{{user.email}}</div>
        <div class="userinfo">Total Bucks in Account: {{user.devBucks}}</div>
    </div>

    <div class="profile favorites">
        <header>
            <h1>Favorites</h1>
        </header>

        <div class="favorites" ng-repeat='favorite in user.favorites'>

            <div class="post title">{{favorite.title}}</div>
            <div class="post url"><a href={{favorite.url}} target='_blank'>{{favorite.url}}</a></div>
            <input type='submit' ng-click='removeFavorite(userId, favorite._id)' value='Remove' />

        </div>

    </div>

    <div class="profile watchLater">
        <header>
            <h1>Watch Later</h1>
        </header>

        <div class="watchLater" ng-repeat='post in user.watchLater'>

            <div class="post title">{{post.title}}</div>
            <div class="post url"><a href={{post.url}} target='_blank'>{{post.url}}</a></div>
            <input type='submit' ng-click='removeWatchLater(post._id)' value='Remove' />

        </div>

    </div>

    <div class="profile bounties">
        <header>
            <h1>Bounties</h1>
        </header>

        <div class="bounties" ng-repeat='bounty in user.bounties track by $index'>

            <div class="post title">{{bounty.title}}</div>
            <div class="post cat">{{bounty.cat}}</div>
            <div class="post value">{{bonty.value}}</div>

        </div>

    </div>

    <div class="profilePosts">

        <header>
            <h1>Posts</h1>
        </header>

        <div ng-repeat='post in user.posts'>

            <div class="post title">{{post.title}}</div>
            <div class="post url"><a href={{post.url}} target='_blank'>{{post.url}}</a></div>
            <input type="submit" ng-click='removePost(post._id)' value='Remove' />

        </div>

    </div>

</div>
