<div class="Container">
  <div class="loginContainer">
    <div class="topNav">
      <div class="topNavImage"></div>
    </div>
    <h1 class="loginText">LOGIN</h1>

    <a class="newUserLink" ng-click="toggleModal()">Need an account?</a>

    <!-- Modal for new users -->
  <form>
    <div class="loginContainerBox">
      <input ng-model="email" type="email" placeholder="Email" class="loginEmail" required/>
      <input ng-model="password" type="password" placeholder="Password" class="loginPassword"/>
      <button ng-click="loginUser(email, password)" class="buttonLoginSubmit">Submit</button>
      <a class="forgotPasswordLink">Forgot password?</a>
    </div>
  </form>
  </div>

  <!-- <div class="loginModalWrapper"> -->
    <login-modal-dialog show="modalShown" width="500px" height="500px" class="modalSignup">
      <div class="login-modal-navbar">
        <div class="login-modal-logo"></div>
      </div>

      <h1 class="modalLoginSignup">SIGNUP</h1>

      <h3 class="modal-already-user-link" ng-click="toggleModal()">Already a user?</h3>
      <form name="signup" ng-model="signupForm">
        <div class="loginModalWrapper">
          <input ng-model="firstName" type="text" placeholder="First Name" class="loginModal firstName" ng-required/>

          <input ng-model="lastName" type="text" placeholder="Last Name" class="loginModal lastName" ng-required/>

          <input ng-model="email" type="email" placeholder="Enter email" class="login modalEmail" ng-required />

          <input ng-model="password" name="password" type="password" placeholder="Enter password" class="login modalPassword" ng-required/>

          <input ng-model="passwordConfirm" name="passwordConfirm" type="password" placeholder="Re-enter password" class="loginModal reenterPassword" validate-equals="password" ng-required/>
        </div>
      </form>

        <!-- <button ng-disabled="signup.email.$invalid || signup.password.$invalid || signup.passwordConfirm.$pristine || signup.passwordConfirm.$invalid" type="button" name="button"></button> -->
        <button ng-click="createUser(firstName, lastName, email, password, passwordConfirm); toggleModal()" type="button" class="modal-newuser-button">Submit</button>
      <h3 class="modal-forgot-password">Forgot your password?</h3>

    </login-modal-dialog>
  <!-- </div> -->
</div>
