span.Container
  div.loginContainer
    div.topNav
      div.topNavImage
    h1 SIGNUP
    a(href="/login").loginLink Need an account?
    input(type="text", placeholder="Username").username
    input(type="text", placeholder="Email").password
    button.buttonLoginSubmit Submit
    a(href="/login").forgotPasswordLink Forgot password?
