// Start of Admin page style
.posts
  .post
    img
      height: 150px
      width: 150px

// End of Admin page style


// Start Admin Modal styling
.adminModal

  .adminModalInputTitle
    height: 40px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 15%
    top: 45px

  .adminModalInputUrl
    height: 40px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 40%
    top: 45px

  .adminModalInputTags
    height: 40px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 65%
    top: 45px

  hr.firstLine
    top: 60px
    margin-top: 105px
    border: 1px solid $loginBackground
    opacity: .4

  hr.secondLine
    top: 100px
    margin-top: 85px
    border: 1px solid $loginBackground
    opacity: .4

  .adminModalInputDesc
    height: 20px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 40%
    top: 155px

  .adminModalInputDescExpand
    height: 40px
    left: 23%
    width: 400px
    border-radius: 10px


  .adminModalSelectLanguage
    height: 50px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    left: 25%
    top: 220px

  .adminModalSelectType
    height: 50px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    left: 55%
    top: 220px

  .adminModalSubmitBtnHome
    height: 25px
    width: 45px
    display: flex
    text-align: center
    font-size: 10px
    font-weight: bolder
    position: absolute
    left: 47%
    top: 325px
    border-radius: 20px
    border: 2px
    background-color: $loginBtn
    color: white
    transition: all 300ms ease
    &:hover
      height: 30px
      width: 65px
      background: $loginBtnHover
      color: white
      border-radius: 15px
      font-size: 15px
      font-weight: bolder
      border: 2px
      left: 46%
