.search-add
    width: 100%
    height: 85px
    display: flex
    flex-direction: column
    align-items: center
    input
        display: block
        margin: 5px auto 0  auto
        height: 30px
        width: 230px
        text-align: center
        font-size: 15px
        border-radius: 4px
        border: 1px solid rgba(128, 128, 128, 0.4)
    button
        height: 25px
        width: 95px
        margin-top: 5px
        font-size: 10px
        font-weight: bolder
        background-color: $loginBackground
        border-radius: 4px
        border: 2px
        color: white
        transition: all 300ms ease
        &:hover
          height: 30px
          width: 125px
          background: $loginBtnHover
          color: white
          border-radius: 4px
          font-size: 15px
          font-weight: bolder
          border: 2px
          left: 45%

.contentWrapper
    display: flex
    justify-content: space-between

.posts
    width: 85%
    margin: 0 0 0 10px
    &-item
        padding: 10px 0 10px 0
        width: 75%
        display: flex
        align-items: center
        margin: 10px auto 10px auto
        border: 1px solid rgba(128, 128, 128, 0.4)
        border-radius: 4px

.title
    font-size: 1.6em
    margin: 10px 0 0 10px

.thumbnail
    margin-right: 20px
    margin-left: 20px

.url
    text-decoration: underline
    color: blue
    font-style: italic

.cat
    text-transform: uppercase
    cursor: pointer
    // width: 250px

.tags
    font-size: 1em

.fa-info-circle
    margin-left: 5px
    font-size: .9em


aside
    background: $loginBackground
    padding: 5px 20px 20px 20px
    border-radius: 4px
    max-height: 500px
    a, h3
        color: $loginModal
    a
        display: block
        padding: 5px
        text-align: center
        cursor: pointer
