// Start of home page style
.favWatchBtns
  margin: 25px 0 0 0
  display: flex

.addToFavoritesBtn
  height: 25px
  width: 90px
  display: flex
  text-align: center
  font-size: 10px
  font-weight: bolder
  border-radius: 20px
  border: 2px
  background-color: $loginBtn
  color: white
  transition: all 300ms ease
  &:hover
    height: 30px
    width: 130px
    background: $loginBtnHover
    color: white
    border-radius: 15px
    font-size: 15px
    font-weight: bolder
    border: 2px

.addToWatchBtn
  height: 25px
  width: 100px
  display: flex
  text-align: center
  font-size: 10px
  font-weight: bolder
  border-radius: 20px
  border: 2px
  background-color: $loginBtn
  color: white
  transition: all 300ms ease
  &:hover
    height: 30px
    width: 140px
    background: $loginBtnHover
    color: white
    border-radius: 15px
    font-size: 15px
    font-weight: bolder
    border: 2px

.voteBtns
  display: flex

.deletePostBtn
  margin: 20px 0 0 10px
  height: 20px
  width: 45px
  text-align: center
  font-size: 10px
  font-weight: bolder
  border-radius: 20px
  border: 2px
  background-color: $loginBtn
  color: white
  transition: all 300ms ease
  &:hover
    height: 30px
    width: 60px
    background: $loginBtnHover
    color: white
    border-radius: 15px
    font-size: 15px
    font-weight: bolder
    border: 2px
    left: 34%

.homeContentWrapper
  margin: 0 0 0 22px

.posts
  .post.description
    color: $loginBtn
  .poster
    img
      width: 20px
      height: 20px
      margin-top: 20px
      margin-left: 10px

// End of home page style

// Start of home modal

.homeModal
  .contentModalInputTitle
    height: 40px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 15%
    top: 45px

  .contentModalInputUrl
    height: 40px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 40%
    top: 45px

  .contentModalInputTags
    height: 40px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 65%
    top: 45px

  hr.firstLine
    top: 60px
    margin-top: 105px
    border: 1px solid $loginBackground
    opacity: .4

  hr.secondLine
    top: 100px
    margin-top: 85px
    border: 1px solid $loginBackground
    opacity: .4

  .contentModalInputDesc
    height: 20px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    font-size: 20px
    border-radius: 5px
    border: 2px
    left: 40%
    top: 155px

  .contentModalInputDescExpand
    height: 40px
    left: 23%
    width: 400px
    border-radius: 10px


  .contentModalSelectLanguage
    height: 50px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    left: 25%
    top: 220px

  .contentModalSelectType
    height: 50px
    width: 150px
    display: flex
    text-align: center
    position: absolute
    left: 55%
    top: 220px

  .contentModalSubmitBtnHome
    height: 25px
    width: 45px
    display: flex
    text-align: center
    font-size: 10px
    font-weight: bolder
    position: absolute
    left: 47%
    top: 325px
    border-radius: 20px
    border: 2px
    background-color: $loginBtn
    color: white
    transition: all 300ms ease
    &:hover
      height: 30px
      width: 65px
      background: $loginBtnHover
      color: white
      border-radius: 15px
      font-size: 15px
      font-weight: bolder
      border: 2px
      left: 46%

// End of home modal
