// Start of home page style

.homeHeaderSpan
  position: absolute
  height: 175px
  line-height: 175px
  font-size: 54px
  color: white
  font-weight: bolder
  z-index: 1
  width: 100%
  text-align: center

.homeHeaderColor
  width: calc(100% + 50px)
  height: 175px
  background: $loginBackground
  margin-left: -25px

.homeHeader
  z-index: -1
  height: 175px
  width: 100%
  background: url("../assets/student8.png") no-repeat 50%
  background-size: cover
  background-attachment: fixed
  background-position: 30% 89%
  opacity: .2
  display: flex
  justify-content: center
  align-items: center
  font-size: 52px
  font-weight: bolder
  color: white

.home-prev-next
  width: 100%
  text-align: center
  .prev.btn, .next.btn
    text-align: center
    color: black
    padding: 5px 0 15px 0
    width: 90px
    transition: all 300ms ease
    &:hover
      color: $loginBackground

.voteBtns
  display: flex
  margin: 20px 0 0 0

.favWatchBtns
  margin: -70px 0 0 0
  display: flex
  flex-direction: column
  align-items: flex-end

.post-tags
  margin: 20px 0 -30px 0

.addToFavoritesBtn
  float: right
  height: 25px
  width: 90px
  text-align: center
  font-size: 10px
  font-weight: bolder
  border-radius: 4px
  border: 2px
  margin: 10px 15px 5px 0
  background-color: $loginBtn
  color: white
  transition: all 300ms ease
  &:hover
    height: 30px
    margin: 10px 15px 5px 0
    width: 130px
    background: $loginBtnHover
    color: white
    border-radius: 4px
    font-size: 15px
    font-weight: bolder
    border: 2px

.addToWatchBtn
  float: right
  margin: 10px 15px 5px 0
  height: 25px
  width: 100px
  text-align: center
  font-size: 10px
  font-weight: bolder
  border-radius: 4px
  border: 2px
  background-color: $loginBtn
  color: white
  transition: all 300ms ease
  &:hover
    height: 30px
    margin: 10px 15px 5px 0
    width: 140px
    background: $loginBtnHover
    color: white
    border-radius: 4px
    font-size: 15px
    font-weight: bolder
    border: 2px


.deletePostBtn
  margin: 15px 0 0 10px
  height: 20px
  width: 45px
  text-align: center
  font-size: 10px
  font-weight: bolder
  border-radius: 4px
  border: 2px
  background-color: $loginBtn
  color: white
  transition: all 300ms ease
  &:hover
    margin: 12px 0 0 10px
    height: 30px
    width: 60px
    background: $loginBtnHover
    color: white
    border-radius: 4px
    font-size: 15px
    font-weight: bolder
    border: 2px
    left: 34%

.homeContentWrapper
  margin: 0 0 0 22px

.posts
  .post.description
    color: $loginBtn
  .poster
    img
      width: 20px
      height: 20px
      margin: 15px 0 0 20px

.homePostLoginCat
  width: 100%
  & .cat
    float: right
    margin: 0 15px 0 0
    font-size: 20px
    font-weight: bolder

// End of home page style

// Start of home modal

select
  height: 25px

.contentModalAlignment
  display: flex
  flex-direction: column

.home-modal-top-nav
  background-color: $loginBackground
  opacity: .6
  z-index: -1
  border-radius: 4px
  height: 70px
  width: 100%

.contentEditPostBtn
  text-align: center
  height: 70px

.login-modal-edit-post-nav
  height: 70px
  position: absolute
  color: white
  z-index: 1
  line-height: 70px
  text-align: center
  font-size: 35px
  font-weight: bolder
  width: 100%

.homeModal
  .contentModalInputTitle, .contentModalInputUrl, .contentModalInputTags, .contentModalInputDesc
    height: 30px
    width: 275px
    margin: 15px 0 10px 13%
    text-align: center
    font-size: 20px
    border-radius: 4px
    border: 1px solid rgba(128, 128, 128, 0.4)
    &.contentModalInputDescExpand
      height: 60px
      width: 350px
      margin: 5px 0 5px 4%
      border-radius: 4px


  .contentModalSelectLanguage
    height: 50px
    width: 150px
    margin: 5px 0 5px 29%
    text-align: center

  .contentModalSelectType
    height: 50px
    width: 150px
    margin: 5px 0 5px 29%
    text-align: center

  .contentModalSubmitBtnHome
    height: 25px
    width: 45px
    margin: 5px 0 15px 42%
    text-align: center
    font-size: 10px
    font-weight: bolder
    border-radius: 4px
    border: 1px solid rgba(128, 128, 128, 0.4)
    background-color: $loginBtn
    color: white
    transition: all 300ms ease
    &:hover
      height: 30px
      width: 65px
      background: $loginBtnHover
      color: white
      border-radius: 4px
      font-size: 15px
      font-weight: bolder
      border: 2px
      margin: 5px 0 15px 40%

// End of home modal
