nav
  width: 100%
  background: $navbar

.Container
  height: 100%
  width: 100%
  background-color: $loginBackground
  position: absolute
  top: 55px
  left: 0px

.login-image-container
  height: 100%
  width: 100%
  position: absolute

// THE NEXT SECTIONS WILL ALL BE IN THE LOGIN BOX

.loginContainer
  width: 400px
  background-color: #F7F7F7
  border-radius: 4px
  z-index: 2
  margin: 5% auto

.topNav
  background-color: rgba(41, 190, 235, 0.3)
  border-radius: 4px
  height: 70px
  opacity: .6
  z-index: -1

.topNavImage
  height: 100%
  z-index: 1
  background: url('https://devmounta.in/img/logoonly.png') no-repeat
  background-size: 12%
  position: relative
  left: 43%
  top: 7px

.loginText
  color: #404041
  display: flex
  justify-content: center

.newUserLink
  display: flex
  justify-content: center
  border: 2px
  cursor: pointer
  color: #29BEEB
  transition: all 300ms ease
  &:hover
    background: $loginBtnHover
    color: white
    border-radius: 3px

.loginContainerBox
  display: flex
  flex-direction: column
  align-items: center
  margin: 15px 0 15px 0

.loginEmail
  height: 30px
  width: 150px
  border-radius: 4px
  border: 2px solid #EFEFEF
  text-align: center
  font-size: larger
  margin: 10px 0 10px 0

.loginPassword
  height: 30px
  width: 150px
  border-radius: 4px
  border: 2px solid #EFEFEF
  text-align: center
  font-size: larger
  margin: 10px 0 10px 0

.buttonLoginSubmit
  height: 40px
  width: 155px
  border-radius: 4px
  border: 2px
  margin: 10px 0 10px 0
  background-color: $loginBtn
  color: white
  font-size: larger
  transition: all 300ms ease
  &:hover
    background: $loginBtnHover

.forgotPasswordLink
  color: #00B8EB
  margin: 5px auto 10px auto
  cursor: pointer
  color: $loginBackground
  transition: all 300ms ease
  &:hover
    background: $loginBtnHover
    color: white
    border-radius: 4px


  // Login page modal styles

.loginText
  background-color: #F7F7F7

.login-modal-container
  width: 100%
  height: 100%
  background-color: transparent

.ng-modal-overlay
  width: 100%
  height: 100%
  opacity: .4
  z-index: 0
  position: fixed
  top: 0

.ng-modal-close
  z-index: 0

.login-modal-navbar
  height: 70px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background-color: #EFEFEF

.login-modal-logo
  height: 50px
  width: 50px
  background: url('https://devmounta.in/img/logoonly.png') no-repeat
  background-size: 100%
  text-align: center

.modalLoginSignup
  text-align: center
  font-size: 30px
  margin: 0 auto 60px auto
  background: white

.modal-already-user-link
  font-size: 15px
  cursor: pointer
  margin: -50px 0 0 39%
  color: $loginBackground
  transition: all 300ms ease
  &:hover
    background: $loginBtnHover
    color: white
    border-radius: 4px
.loginModalWrapper
  & .firstName, .lastName, .modalEmail, .modalPassword, .reenterPassword
    display: flex
    height: 40px
    width: 250px
    border-radius: 4px
    border: 2px
    margin: 5px 0 5px 25%
    text-align: center
    font-size: larger
    border: 1px solid rgba(128, 128, 128, 0.4)

.modal-newuser-button
  height: 40px
  margin: 5px 0 0 35%
  width: 155px
  border-radius: 4px
  border: 2px
  background-color: $loginBtn
  color: white
  font-size: larger
  transition: all 300ms ease
  &:hover
    background: $loginBtnHover

.modal-forgot-password
  cursor: pointer
  margin: 20px 0 0 30%
  color: $loginBackground
  transition: all 300ms ease
  &:hover
    background: $loginBtnHover
    color: white
    border-radius: 4px

// End of Modal
