// Start of profile page

.profileHeaderSpan
  position: absolute
  height: 175px
  line-height: 175px
  font-size: 54px
  color: white
  font-weight: bolder
  z-index: 1
  width: 100%
  text-align: center

.profileHeaderColor
  width: calc(100% + 50px)
  height: 175px
  background: $loginBackground
  margin-left: -25px

.profileHeader
  z-index: -1
  height: 175px
  width: 100%
  background: url("../assets/student7.png") no-repeat
  background-size: cover
  background-attachment: fixed
  background-position: 30% 89%
  opacity: .2
  display: flex
  justify-content: center
  align-items: center
  font-size: 52px
  font-weight: bolder
  color: white

h1
    text-align: center
    width: 100%
.profile
    margin: 20px auto
    width: 70%
    max-height: calc(100vh/3)
    overflow-y: scroll
    &.profileInfo
        margin: 0 auto
        text-align: center
        overflow-y: initial
.navigator
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 130px
    height: 200px
    background: $loginBackground
    font-size: 1.1em
    position: fixed
    margin-top: 20px
    border-radius: 5px
    cursor: pointer
    a
        transition: all 200ms ease
        color: #fff
    a
        &:hover
            color: #444
