.profileWrapper
    display: flex
    justify-content: space-between
.profile
    margin: 20px
    width: calc(100%/2.5)
    max-width: calc(100%/2)
    max-height: calc(100vh/4)
    overflow-y: scroll
    &.profileInfo
        margin: 20px auto
        text-align: center
h1
    text-align: center
