<span class="adminHeaderSpan">Admin</span>
<div class="adminHeaderColor">
	<header class="adminHeader"></header>
</div>

<div class="managePostAndBtn">
  <h3 class="managePostsContent">Manage Posts:</h3>
  <a href='/#/users'>
  <input class="manageUsersBtn" type='submit' value='Manage Users' />
  </a>
</div>
<div class="posts">
    <div class="admin posts-item" ng-repeat='post in posts | filter:contentSearchText'>
        <div class="post thumbnail"><img ng-src='assets/{{ post.cat }}.png'></div>
        <div class="admin-post-container">
          <div class="admin-post-right-container">
            <div class="post cat"><a href='/#/home/{{post.cat}}'>{{post.cat}}</a></div>
            <div class="post user">Posted by: <br>
              {{post.user.firstName}} {{post.user.lastName}}</div>
          </div>
          <div class="posts-post-admin">

              <div class="manage-posts-post">
                <div class="post title">{{post.title}}</div>
                <div class="poster type"><img ng-src='assets/{{ post.type }}.png' /></div>
              </div>

              <div class="manage-posts-content">
                <div class="post url"><a href='{{post.url}}' target='_blank'>{{post.url}}</a></div>
                <div class="post description">Description: {{post.desc}}</div>
                <div class="post tags">Tags: <span ng-repeat='tag in post.tags'>{{tag}} </span></div>
              </div>
          </div>
          <div class="adminApproveDiscardEditBtns">
            <input class="adminApproveBtn"type="submit" ng-click="approvePost(post._id, post.user._id, post.bounty, $index)" ng-change="clearIt(show)" ng-model="show" value="Approve" />
            <input class="adminDiscardBtn" type="submit" ng-click="discardPost(post._id, $index)" ng-change="clearIt(show)" ng-model="show" value="Discard" />
            <button class="adminEditBtn" ng-click='modalShown = !modalShown'>Edit</button>
          </div>
        </div>
    </div>
<!-- MODAL -->
		<modal-dialog controller-name='editContentCtrl' class='adminModal' ng-show='modalShown' width='400px' height='400px'>
        <div class="adminModalAlignment">
          <span class="admin-modal-edit-post-nav">Edit Post</span>
          <div class="home-modal-top-nav">
            <h3 class="contentEditPostBtn"></h3>
          </div>
  		    <input class='adminModalInputTitle' ng-model="post.title" placeholder="Title" />
  		    <input class='adminModalInputUrl' ng-model="post.url" placeholder="URL" />
  		    <input class='adminModalInputTags' ng-model="post.tags" placeholder="Tags" />
  		    <textarea class='adminModalInputDesc' ng-init="focus = false" ng-focus="focus = true" ng-blur="focus = false" ng-class="{adminModalInputDescExpand: focus}" ng-model="post.desc" placeholder="Description"></textarea>
  		    <select class='adminModalSelectLanguage' ng-model='post.cat' placeholder="Categories">
  		        <option value="html">HTML</option>
  		        <option value="css">CSS</option>
  		        <option value="javascript">Javascript</option>
  		        <option value="angular">Angular</option>
  		        <option value="mongo">Mongo</option>
  		        <option value="mongoose">Mongoose</option>
  		        <option value="node">Node</option>
  		        <option value="express">Express</option>
              <option value="express">Git</option>
  		        <option value="react">React</option>
  		    </select>
  		    <select class='adminModalSelectType' ng-model='post.type' placeholder="Type">
  		        <option value="article">Article</option>
  		        <option value="video">Video</option>
  		        <option value="image">Image</option>
  		    </select>
  		    <input class='adminModalSubmitBtnHome' type='submit' value='Submit' ng-click="editPost(post); toggle()" />
        </div>
		</modal-dialog>

    <!-- End Modal -->

 	</div>
</div>
