<h3>Manage Posts:</h3>
<div class="posts">
    <div class="posts-item" ng-repeat='post in posts | filter:contentSearchText'>
        <div class="post thumbnail"><img ng-src='{{ post.thumbnail }}'></div>
        <div class="posts-post">
            <div class="post title">{{post.title}}</div>
            <div class="post url"><a href='{{post.url}}' target='_blank'>{{post.url}}</a></div>
            <div class="post cat"><a href='/#/home/{{post.cat}}'>{{post.cat}}</a></div>
            <div class="post description">Description: {{post.desc}}</div>
            <div class="post type">Type: {{post.type}}</div>
            <div class="post tags" ng-repeat='tag in post.tags'>Tags: {{tag}}</div>
            <div class="post user">Poster: {{post.user.firstName}} {{post.user.lastName}}</div>
        </div>
        <div class="adminApproveDiscardEditBtns">
          <input class="adminApproveBtn"type="submit" ng-click="approvePost(post._id, post.user._id, post.bounty)" ng-change="clearIt(show)" ng-model="show" value="Approve" />
          <input class="adminDiscardBtn" type="submit" ng-click="discardPost(post._id)" ng-change="clearIt(show)" ng-model="show" value="Discard" />
          <button class="adminEditBtn" ng-click='modalShown = !modalShown'>Edit</button>
        </div>

<!-- MODAL -->
		<modal-dialog controller-name='editContentCtrl' class='adminModal' ng-show='modalShown' width='750px' height='60%'>
		    <input class='adminModalInputTitle' ng-model="post.title" placeholder="Title" />
		    <input class='adminModalInputUrl' ng-model="post.url" placeholder="URL" />
		    <textarea class='adminModalInputDesc' ng-init="focus = false" ng-focus="focus = true" ng-blur="focus = false" ng-class="{adminModalInputDescExpand: focus}" ng-model="post.desc" placeholder="Description"></textarea>
		    <input class='adminModalInputTags' ng-model="post.tags" placeholder="Tags" />
        <hr class="firstLine" />
        <hr class="secondLine" />
		    <select class='adminModalSelectLanguage' ng-model='post.cat' placeholder="Categories">
		        <option value="html">HTML</option>
		        <option value="css">CSS</option>
		        <option value="javascript">Javascript</option>
		        <option value="angular">Angular</option>
		        <option value="mongo">Mongo</option>
		        <option value="mongoose">Mongoose</option>
		        <option value="node">Node</option>
		        <option value="express">Express</option>
		        <option value="react">React</option>
		    </select>
		    <select class='adminModalSelectType' ng-model='post.type' placeholder="Type">
		        <option value="article">Article</option>
		        <option value="video">Video</option>
		        <option value="image">Image</option>
		    </select>
		    <input class='adminModalSubmitBtnHome' type='submit' value='Submit' ng-click="editPost(post); toggle()" />
		</modal-dialog>

    <!-- End Modal -->

 	</div>
</div>


	<!-- <input type="submit" value="Create Bounty" ng-click="toggleModal2()" />

	<modal-dialog ng-show="modal2Shown" width='750px' height='60%'>
		<input ng-model="bounty.title" placeholder="Title" />
		<select ng-model="bounty.cat" placeholder="Category">
			<option value="html">HTML</option>
	        <option value="css">CSS</option>
	        <option value="javascript">Javascript</option>
	        <option value="angular">Angular</option>
	        <option value="mongo">Mongo</option>
	        <option value="mongoose">Mongoose</option>
	        <option value="node">Node</option>
	        <option value="express">Express</option>
	        <option value="react">React</option>
	    </select>
		<input ng-model="bounty.desc" placeholder="Description" />
		<input ng-model="bounty.tags" placeholder="Tag(s)" />
		<select ng-model="bounty.type" placeholder="Type">
	        <option value="article">Article</option>
	        <option value="video">Video</option>
	        <option value="code">Image</option>
	    </select>
	    <input ng-model="bounty.value" placeholder="Bounty Value" />
	    <input type="submit" value="Post Bounty" ng-click="postBounty(bounty); toggleModal2()" />
	</modal-dialog> -->
