<span class="bountyHeaderSpan">BOUNTIES</span>
<div class="bountyHeaderColor">
	<header class="bountyHeader"></header>
</div>

<!-- Flash notifications -->
<div class="flash-error animated fadeIn" ng-show="hideError">
  <span>Bounty not created. Try again.</span>
</div>

<input class="bountyCreateBountyBtn" type="submit" ng-show='admin' value="Create Bounty" ng-click="toggleModal2()" />

<!-- MODAL -->
	<modal-dialog class="bountyModal" ng-show="modal2Shown" width='400px' height='460px'>
		<div class="bountyModalAlignment">
			<span class="admin-modal-edit-post-nav">Create Bounty</span>
			<div class="home-modal-top-nav">
				<h3 class="contentEditPostBtn"></h3>
			</div>
			<input class='bountyModalInputTitle' ng-model="bounty.title" placeholder="Title" />
		  <input class='bountyModalInputValue' ng-model="bounty.value" placeholder="Bounty Value" />
			<input class='bountyModalInputQuantity' ng-model="bounty.quantityNeeded" placeholder="Quantity of Posts Needed" />
			<input class='bountyModalInputTags' ng-model="bounty.tags" placeholder="Tag(s)" />
			<textarea class='bountyModalInputDesc' ng-init="focus = false" ng-focus="focus = true" ng-blur="focus = false" ng-class="{bountyModalInputDescExpand: focus}" ng-model="bounty.desc" placeholder="Description"></textarea>
			<select class='bountyModalSelectLanguage' ng-model="bounty.cat" placeholder="Category">
						<option value="html">HTML</option>
		        <option value="css">CSS</option>
		        <option value="javascript">Javascript</option>
		        <option value="angular">Angular</option>
		        <option value="mongo">Mongo</option>
		        <option value="mongoose">Mongoose</option>
		        <option value="node">Node</option>
		        <option value="express">Express</option>
						<option value="express">Git</option>
		        <option value="react">React</option>
		    </select>
			<select class='bountyModalSelectType' ng-model="bounty.type" placeholder="Type">
		        <option value="article">Article</option>
		        <option value="video">Video</option>
		        <option value="image">Image</option>
		    </select>
		    <input class='bountyModalSubmitBtnHome' type="submit" value="Submit" ng-click="postBounty(bounty); toggleModal2()" />
		</div>
	</modal-dialog>
<!-- END MODAL -->

<a ng-href='/#/bounties/{{bounty._id}}'>
	<div ng-repeat='bounty in bounties'>
			<div class="bountyBox">
	    <div class="bounty title">{{bounty.title}}</div>
	    <div class="bounty cat">{{bounty.cat}}</div>
	    <div class="bounty value animated infinite pulse">{{bounty.value}} DevBucks</div>
			<div class="fulfilledContent">
		    <span>{{ bounty.quantityClaimed }}</span>/<span>{{ bounty.quantityNeeded }} Fulfilled</span>
			</div>
	</div>
</a>
