<span class="bountyIdHeaderSpan">User Profile</span>
<div class="bountyIdHeaderColor">
	<header class="bountyIdHeader"></header>
</div>

<!-- Flash notifications -->
<div class="flash-success animated fadeIn" ng-show="hideSuccess">
  <span>Your post has been sent to moderation!</span>
</div>
<div class="flash-error animated fadeIn" ng-show="hideError">
  <span>Something went wrong. Try again.</span>
</div>

<div class="bountyIdWrapper">
	<div class="bounty titleBounty">{{bounty.title}}</div>
	<div class="bounty catBounty">{{bounty.cat}}</div>
	<div class="bounty descBounty">{{bounty.desc}}</div>
	<div class="bounty tagsBounty">Tags: <span ng-repeat='tag in bounty.tags'>{{tag}} </span></div>
	<div class="bounty description"></div>
	<div class="bounty valueBounty">{{bounty.value}}</div>
	<div class="bounty typeBounty">{{bounty.type}}</div>
</div>
<!-- INLINE STYLES HERE FOR TESTING -->
<div class="progress-container">
	<div class="progress-fill" ng-repeat="div in claimedArr track by $index" ng-style="{'width': blockwidth}"></div>
	<div class="progress-fill white" ng-repeat="div in remainderArr track by $index" ng-style="{'width': blockwidth}"></div>
</div>
<div class="bounty valueBountyBelowProgress">Bounty:{{bounty.value}}</div>
<div class="bountyFulfilledBelowProgress">
	<span>{{ bounty.quantityClaimed }}</span>/<span>{{ bounty.quantityNeeded }} Fulfilled</span>
</div>
</br>
<!-- MODAL -->

<modal-dialog ng-init="modalShown = false" class='contentModal' ng-show='modalShown' width='400px' height='55%'>
	<div class="bountyIdClaimWrapper">
	<div>{{ bounty.title }}</div> 
    <div>DevBucks:{{ bounty.value }}</div>
    <input class='contentModalInput Title' ng-model="newPost.title" placeholder="Title" />
    <input class='contentModalInput Url' ng-model="newPost.url" placeholder="URL" />
    <input class='contentModalInput Description' ng-init="focus = false" ng-focus="focus = true" ng-blur="focus = false" ng-class="{bountyIdModalInputDescExpand: focus}" ng-model="newPost.desc" placeholder="Description" />
    <input class='contentModalInput Tags' ng-model="newPost.tags" placeholder="Tags" />
    <div>{{ bounty.type }}</div>
    <div>{{ bounty.cat }}</div>
	</div>
    <!-- <select class='contentModalSelect' ng-model='newPost.cat' placeholder="Categories">
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="javascript">Javascript</option>
        <option value="angular">Angular</option>
        <option value="mongo">Mongo</option>
        <option value="mongoose">Mongoose</option>
        <option value="node">Node</option>
        <option value="express">Express</option>
        <option value="react">React</option>
    </select>
    <select class='contentModalSelect' ng-model='newPost.type' placeholder="Type">
        <option value="article">Article</option>
        <option value="video">Video</option>
        <option value="image`">Image</option>
    </select> -->

    <input class='contentModalSubmitBtn bountyIdBtn' type='submit' value='Add Bounty Post' ng-click="newPost.cat = bounty.cat; newPost.type = bounty.type; addBountyPost(newPost); toggle()" />


</modal-dialog>
<div class="bountyIdBtnWrapper">
	<input class="bountyIdClaimBountyBtn" type="submit" value="Claim Bounty" ng-click="modalShown = !modalShown" />
	<input class="bountyIdCloseBountyBtn" type="submit" value="Close Bounty" ng-show="isAdmin" ng-click="closeBounty(bounty._id)" ng-change="clearIt(show)" ng-model="show">
</div>
<!-- <input type="submit" ng-click="discardPost(post._id)" ng-change="clearIt(show)" ng-model="show" value="Discard" /> -->
