<input type="submit" ng-show='admin' value="Create Bounty" ng-click="toggleModal2()" />

<!-- MODAL -->
	<modal-dialog ng-show="modal2Shown" width='750px' height='60%'>
		<input class='contentModalInputTitle' ng-model="bounty.title" placeholder="Title" />
		<input class='contentModalInputTags' ng-model="bounty.tags" placeholder="Tag(s)" />
	    <input class='contentModalInputUrl' ng-model="bounty.value" placeholder="Bounty Value" />
		<textarea class='contentModalInputDesc' ng-model="bounty.desc" placeholder="Description"></textarea>
		<select class='contentModalSelectLanguage' ng-model="bounty.cat" placeholder="Category">
			<option value="html">HTML</option>
	        <option value="css">CSS</option>
	        <option value="javascript">Javascript</option>
	        <option value="angular">Angular</option>
	        <option value="mongo">Mongo</option>
	        <option value="mongoose">Mongoose</option>
	        <option value="node">Node</option>
	        <option value="express">Express</option>
	        <option value="react">React</option>
	    </select>
		<select class='contentModalSelectType' ng-model="bounty.type" placeholder="Type">
	        <option value="article">Article</option>
	        <option value="video">Video</option>
	        <option value="code">Image</option>
	    </select>
			<input ng-model="bounty.quantity" placeholder="Quantity of Posts Needed" />
	    <input class='contentModalSubmitBtnHome' type="submit" value="Submit" ng-click="postBounty(bounty); toggleModal2()" />
	</modal-dialog>
<!-- END MODAL -->

<div ng-repeat='bounty in bounties'>
    <div class="bounty title"><a ng-href='/#/bounties/{{bounty._id}}'>{{bounty.title}}</a></div>
    <div class="bounty cat">{{bounty.cat}}</div>
    <div class="bounty value">{{bounty.value}}</div>
</div>
