<span class="homeHeaderSpan">Home</span>
<div class="homeHeaderColor">
	<header class="homeHeader"></header>
</div>

<!-- Flash notifications -->
<div class="flash-success animated fadeIn" ng-show="hideSuccess">
  <span>Your post has been sent to moderation!</span>
</div>

<div class="flash-error animated fadeIn" ng-show="hideError">
  <span>Something went wrong. Try again.</span>
</div>

<div class="search-add">
    <input type="text" ng-model="contentSearchText" placeholder="Search"/>
    <button class="addResourseBtn" ng-click='toggleModal()' data-anijs="if: mouseover, do: swing animated" >Add Resource</button>
</div>

<!-- MODAL -->
<modal-dialog ng-init="modalShown = false" controller-name='addContentCtrl' class='homeModal ' ng-show='modalShown' width='400px' height='61%'>
    <div class="contentModalAlignment">
      <h3 class="contentEditPostBtn">Edit Post</h3>
      <input class='contentModalInputTitle' ng-model="newPost.title" placeholder="Title" />
      <input class='contentModalInputUrl' ng-model="newPost.url" placeholder="URL" />
      <input class='contentModalInputTags' ng-model="newPost.tags" placeholder="Tags" />
      <textarea class='contentModalInputDesc' ng-init="focus = false" ng-focus="focus = true" ng-blur="focus = false" ng-class="{contentModalInputDescExpand: focus}" ng-model="newPost.desc" placeholder="Description"></textarea>

      <select class='contentModalSelectLanguage' ng-model='newPost.cat' placeholder="Categories">
          <option value="html">HTML</option>
          <option value="css">CSS</option>
          <option value="javascript">Javascript</option>
          <option value="angular">Angular</option>
          <option value="mongo">Mongo</option>
          <option value="mongoose">Mongoose</option>
          <option value="node">Node</option>
          <option value="express">Express</option>
          <option value="react">React</option>
          <option value="git">Git</option>
      </select>
      <select class='contentModalSelectType' ng-model='newPost.type' placeholder="Type">
          <option value="article">Article</option>
          <option value="video">Video</option>
          <option value="image">Image</option>
      </select>
      <input class='contentModalSubmitBtnHome' type='submit' value='Submit' ng-click="addPost(newPost);  toggleModal()" />
    </div>
</modal-dialog>

<!-- End MODAL -->

<div class="contentWrapper">

    <aside class="categories">
        <h3>Categories</h3>
        <a ng-href='/#/home'>All</a>
        <a ng-href='/#/home/html'>HTML</a>
        <a ng-href='/#/home/css'>CSS</a>
        <a ng-href='/#/home/javascript'>Core JS</a>
        <a ng-href='/#/home/angular'>Angular</a>
        <a ng-href='/#/home/mongo'>MongoDB</a>
        <a ng-href='/#/home/mongoose'>Mongoose</a>
        <a ng-href='/#/home/node'>Node</a>
        <a ng-href='/#/home/express'>Express</a>
        <a ng-href='/#/home/react'>React</a>
        <a ng-href='/#/home/git'>Git</a>
    </aside>

    <div class="posts">
        <div class="posts-item" ng-repeat='post in posts | filter:contentSearchText | orderBy:"-votes"'>
            <div class="post thumbnail"><img ng-src='{{ post.thumbnail }}' /></div>
            <div class="posts-post">
                <div class="voteBtns">
                  <div>
                    <i class="fa fa-angle-up" ng-click="post.votes = post.votes + 1; upVoteDownVote(post._id, post.votes)"></i>
                    <div class="post votes">{{post.votes}}</div>
                    <i class="fa fa-angle-down" ng-click="post.votes = post.votes - 1; upVoteDownVote(post._id, post.votes)"></i>
                  </div>
                  <div class="post title"><a ng-href="{{ post.url }}" target="_blank" > {{post.title}}</a></div>
                  <div class="poster type"><img ng-src='assets/{{ post.type }}.png' /></div>
                  <input class="deletePostBtn" type='submit' ng-click='deletePost(post._id, $index)' ng-show='admin' value='Delete'>
                </div>
                <!-- <div class="titleBtns"> -->
                <!-- </div> -->
                <!-- <div class="post url"><a href='{{post.url}}' target='_blank'>{{post.url}}</a></div> -->
                <div class="homeContentWrapper" >
                  <div class="post cat"><a ng-href='/#/home/{{post.cat}}'> {{post.cat}}</a></div>
                  <div class="post description">{{post.desc}}</div>

                  <div class="post tags">Tags:&nbsp;&nbsp;&nbsp;<a ng-href="/#/home/{{post.cat}}/{{tag}}" ng-repeat='tag in post.tags'>{{tag}}&nbsp;&nbsp;&nbsp;</a></div>
                  <div class="favWatchBtns">
                    <input class="addToFavoritesBtn" type='submit' ng-click='addToFavorites(post._id)' value='Add to Favorites'>
                    <input class="addToWatchBtn" type='submit' ng-click='addToviewLater(post._id)' value='Add to View Later'>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <a ui-sref="{{prevPage}}">Prev</a>
    <a ui-sref="{{nextPage}}">Next</a>

  <!--   <aside class='bounties'>
        <h3><a href='/#/bounties'>Bounties</a></h3>
        <div ng-repeat='bounty in bounties'>
            <div class="bountyName">{{bounty.name}}</div>
            <div class="bountyCategory">{{bounty.cat}}</div>
            <div class="bountyValue">{{bounty.value}}</div>
        </div>
    </aside>
 -->

</div>
