html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 25px;
  height: 100%;
}

.ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0.8;
}

.ng-modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  border-radius: 4px;
  border-radius-background-color: #EFEFEF;
}

.ng-modal-dialog-content {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.homeHeaderSpan {
  position: absolute;
  height: 175px;
  line-height: 175px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.homeHeaderColor {
  width: calc(100% + 50px);
  height: 175px;
  background: #29BEEB;
  margin-left: -25px;
}

.homeHeader {
  z-index: -1;
  height: 175px;
  width: 100%;
  background: url("../assets/student8.png") no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 89%;
  opacity: .2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 52px;
  font-weight: bolder;
  color: white;
}

.home-prev-next {
  width: 100%;
  text-align: center;
  margin: 5px 0 5px 0;
}

.home-prev-next .prev.btn, .home-prev-next .next.btn {
  text-align: center;
  color: black;
  padding: 5px 0 15px 0;
  width: 90px;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.home-prev-next .prev.btn:hover, .home-prev-next .next.btn:hover {
  color: #29BEEB;
}

.voteBtns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}

.favWatchBtns {
  margin: -70px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.post-tags {
  margin: 20px 0 -30px 0;
}

.addToFavoritesBtn {
  float: right;
  height: 25px;
  width: 90px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  margin: 10px 15px 5px 0;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.addToFavoritesBtn:hover {
  height: 30px;
  margin: 10px 15px 5px 0;
  width: 130px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
}

.addToWatchBtn {
  float: right;
  margin: 10px 15px 5px 0;
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.addToWatchBtn:hover {
  height: 30px;
  margin: 10px 15px 5px 0;
  width: 140px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
}

.deletePostBtn {
  margin: 15px 0 0 10px;
  height: 20px;
  width: 45px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.deletePostBtn:hover {
  margin: 12px 0 0 10px;
  height: 30px;
  width: 60px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  left: 34%;
}

.homeContentWrapper {
  margin: 0 0 0 22px;
}

.posts .post.description {
  color: #2AABE2;
}

.posts .poster img {
  width: 20px;
  height: 20px;
  margin: 15px 0 0 20px;
}

.homePostLoginCat {
  width: 100%;
}

.homePostLoginCat .cat {
  float: right;
  margin: 0 15px 0 0;
  font-size: 20px;
  font-weight: bolder;
}

select {
  height: 25px;
}

.contentModalAlignment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-modal-top-nav {
  background-color: #29BEEB;
  opacity: .6;
  z-index: -1;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.contentEditPostBtn {
  text-align: center;
  height: 70px;
}

.login-modal-edit-post-nav {
  height: 70px;
  position: absolute;
  color: white;
  z-index: 1;
  line-height: 70px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  width: 100%;
}

.homeModal .contentModalInputTitle, .homeModal .contentModalInputUrl, .homeModal .contentModalInputTags, .homeModal .contentModalInputDesc {
  height: 30px;
  width: 275px;
  margin: 15px 0 10px 13%;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.homeModal .contentModalInputTitle.contentModalInputDescExpand, .homeModal .contentModalInputUrl.contentModalInputDescExpand, .homeModal .contentModalInputTags.contentModalInputDescExpand, .homeModal .contentModalInputDesc.contentModalInputDescExpand {
  height: 60px;
  width: 350px;
  margin: 5px 0 5px 4%;
  border-radius: 4px;
}

.homeModal .contentModalSelectLanguage {
  height: 50px;
  width: 150px;
  margin: 5px 0 5px 29%;
  text-align: center;
}

.homeModal .contentModalSelectType {
  height: 50px;
  width: 150px;
  margin: 5px 0 5px 29%;
  text-align: center;
}

.homeModal .contentModalSubmitBtnHome {
  height: 25px;
  width: 45px;
  margin: 5px 0 15px 42%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.homeModal .contentModalSubmitBtnHome:hover {
  height: 30px;
  width: 65px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 5px 0 15px 40%;
}

.adminHeaderSpan {
  position: absolute;
  height: 175px;
  line-height: 175px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.adminHeaderColor {
  width: calc(100% + 50px);
  height: 175px;
  background: #29BEEB;
  margin-left: -25px;
}

.adminHeader {
  z-index: -1;
  height: 175px;
  width: 100%;
  background: url("../assets/student2.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 0%;
  opacity: .2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 52px;
  font-weight: bolder;
  color: white;
}

.managePostAndBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.managePostAndBtn .managePostsContent {
  margin: 15px 0 0 25%;
}

.managePostAndBtn .manageUsersBtn {
  margin: 15px 0 0 0;
  position: absolute;
  left: 80%;
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.managePostAndBtn .manageUsersBtn:hover {
  height: 30px;
  width: 130px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bolder;
  border: 2px;
}

.posts-post-admin {
  margin: -70px 0 0 0;
}

.posts .post img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.admin-post-container {
  width: 100%;
}

.admin-post-container .admin-post-right-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.admin-post-container .admin-post-right-container .cat {
  float: right;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 10px 0 10px;
}

.admin-post-container .admin-post-right-container .user {
  float: right;
  font-size: 15px;
  font-weight: bolder;
  margin: 5px 10px 0 10px;
}

.manage-posts-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 0;
}

.manage-posts-content {
  margin: 10px 0 10px 10px;
}

.manage-posts-content .url, .manage-posts-content .description, .manage-posts-content .tags {
  margin: 10px 0 10px 0;
}

.adminApproveDiscardEditBtns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: -50px 0 0 0;
}

.adminApproveDiscardEditBtns .adminApproveBtn, .adminApproveDiscardEditBtns .adminDiscardBtn, .adminApproveDiscardEditBtns .adminEditBtn {
  margin: 0 10px 0 10px;
}

.adminApproveBtn {
  margin: 5px 0 5px 0;
  height: 25px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  top: 325px;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.adminApproveBtn:hover {
  height: 30px;
  width: 80px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
}

.adminDiscardBtn {
  margin: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  height: 25px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  top: 325px;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.adminDiscardBtn:hover {
  height: 30px;
  width: 80px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
}

.adminEditBtn {
  margin: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  height: 25px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  top: 325px;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.adminEditBtn:hover {
  height: 30px;
  width: 80px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
}

.adminModalAlignment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-modal-top-nav {
  background-color: #29BEEB;
  opacity: .6;
  z-index: -1;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.adminEditPostBtn {
  text-align: center;
  height: 70px;
}

.admin-modal-edit-post-nav {
  height: 70px;
  position: absolute;
  color: white;
  z-index: 1;
  line-height: 70px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  width: 100%;
}

.adminModal .adminModalInputDesc, .adminModal .adminModalInputUrl, .adminModal .adminModalInputTitle, .adminModal .adminModalInputValue, .adminModal .adminModalInputQuantity, .adminModal .adminModalInputTags {
  height: 30px;
  width: 275px;
  margin: 5px 0 5px 13%;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.adminModal .adminModalInputDesc.adminModalInputDescExpand, .adminModal .adminModalInputUrl.adminModalInputDescExpand, .adminModal .adminModalInputTitle.adminModalInputDescExpand, .adminModal .adminModalInputValue.adminModalInputDescExpand, .adminModal .adminModalInputQuantity.adminModalInputDescExpand, .adminModal .adminModalInputTags.adminModalInputDescExpand {
  height: 60px;
  width: 350px;
  margin: 5px 0 5px 4%;
  border-radius: 4px;
}

.adminModalSelectLanguage {
  height: 50px;
  width: 150px;
  margin: 5px 0 5px 29%;
  text-align: center;
}

.adminModalSelectType {
  height: 50px;
  width: 150px;
  margin: 5px 0 5px 29%;
  text-align: center;
}

.adminModalSubmitBtnHome {
  height: 25px;
  width: 45px;
  margin: 5px 0 5px 42%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.adminModalSubmitBtnHome:hover {
  height: 30px;
  width: 65px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 5px 0 5px 40%;
}

.bountyHeaderSpan {
  position: absolute;
  height: 175px;
  line-height: 175px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.bountyHeaderColor {
  width: calc(100% + 50px);
  height: 175px;
  background: #29BEEB;
  margin-left: -25px;
}

.bountyHeader {
  z-index: -1;
  height: 175px;
  width: 100%;
  background: url("../assets/student5.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 32%;
  opacity: .2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 52px;
  font-weight: bolder;
  color: white;
}

.bountyCreateBountyBtn {
  margin: 20px 0 10px 47%;
  height: 25px;
  width: 80px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.bountyCreateBountyBtn:hover {
  height: 30px;
  width: 130px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 20px 0 10px 45%;
}

.bountyBox {
  margin: 15px 0 20px 25%;
  width: 50%;
  height: 90px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 4px;
  padding: 5px 0 30px 0;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.bountyBox:hover {
  padding: 5px 0 40px 0;
  font-size: 20px;
  font-weight: bolder;
  height: 110px;
  width: 64%;
  margin: 10px 0 20px 18%;
  background-color: rgba(42, 171, 226, 0.2);
}

.bountyBox:hover .bounty.value {
  color: #dece02;
}

.bountyBox .bounty.title, .bountyBox .cat, .bountyBox .value {
  margin: 5px 0 5px 0;
  text-align: center;
}

.fulfilledContent {
  text-align: center;
}

.bountyModalAlignment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentBountyModal {
  margin: 0 0 0 33%;
}

.bounty-modal-top-nav {
  background-color: #29BEEB;
  opacity: .6;
  z-index: -1;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.bountyEditPostBtn {
  text-align: center;
  height: 70px;
}

.bounty-modal-edit-post-nav {
  height: 70px;
  position: absolute;
  color: white;
  z-index: 1;
  line-height: 70px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  width: 100%;
}

.bountyModal .bountyModalInputDesc, .bountyModal .bountyModalInputTitle, .bountyModal .bountyModalInputValue, .bountyModal .bountyModalInputQuantity, .bountyModal .bountyModalInputTags {
  height: 30px;
  width: 275px;
  margin: 5px 0 5px 13%;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.bountyModal .bountyModalInputDesc.bountyModalInputDescExpand, .bountyModal .bountyModalInputTitle.bountyModalInputDescExpand, .bountyModal .bountyModalInputValue.bountyModalInputDescExpand, .bountyModal .bountyModalInputQuantity.bountyModalInputDescExpand, .bountyModal .bountyModalInputTags.bountyModalInputDescExpand {
  height: 60px;
  width: 350px;
  margin: 5px 0 5px 4%;
  border-radius: 4px;
}

.bountyModal .bountyModalSelectLanguage {
  height: 50px;
  width: 150px;
  text-align: center;
  margin: 5px 0 5px 29%;
}

.bountyModal .bountyModalSelectType {
  height: 50px;
  width: 150px;
  text-align: center;
  margin: 5px 0 5px 29%;
}

.bountyModal .bountyModalSubmitBtnHome {
  height: 25px;
  width: 45px;
  margin: 5px 0 5px 42%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.bountyModal .bountyModalSubmitBtnHome:hover {
  height: 30px;
  width: 65px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 5px 0 5px 40%;
}

.bountyIdHeaderSpan {
  position: absolute;
  height: 175px;
  line-height: 175px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.bountyIdHeaderColor {
  width: calc(100% + 50px);
  height: 175px;
  background: #29BEEB;
  margin-left: -25px;
}

.bountyIdHeader {
  z-index: -1;
  height: 175px;
  width: 100%;
  background: url("../assets/students.png") no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 50%;
  opacity: .2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 52px;
  font-weight: bolder;
  color: white;
}

.bountyIdWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bountyIdWrapper .titleBounty, .bountyIdWrapper .catBounty, .bountyIdWrapper .descBounty, .bountyIdWrapper .tagsBounty, .bountyIdWrapper .valueBounty, .bountyIdWrapper .typeBounty {
  margin: 5px 0 5px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.bounty.valueBountyBelowProgress {
  text-align: center;
}

.bountyFulfilledBelowProgress {
  text-align: center;
}

.bountyIdBtnWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bountyIdClaimBountyBtn {
  margin: 20px 25px 10px 25px;
  height: 25px;
  width: 76px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.bountyIdClaimBountyBtn:hover {
  height: 30px;
  width: 115px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 20px 25px 10px 25px;
}

.bountyIdCloseBountyBtn {
  margin: 20px 0 10px 0;
  height: 25px;
  width: 76px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.bountyIdCloseBountyBtn:hover {
  height: 30px;
  width: 115px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 20px 0 10px 0;
}

.progress-container {
  display: inline-block;
  width: 500px;
  height: 50px;
  margin: 0;
  border-radius: 4px;
  padding: 0;
  margin: 20px 0 0 32%;
}

.progress-fill {
  margin: 0 -4px 0 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  background-color: #29BEEB;
  border: 2px solid black;
  border-radius: 4px;
}

.progress-fill.white {
  background-color: white;
}

.bountyId-modal-top-nav {
  background-color: #29BEEB;
  opacity: .6;
  z-index: -1;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.bountyIdEditPostBtn {
  text-align: center;
  height: 70px;
}

.bountyId-modal-edit-post-nav {
  height: 70px;
  position: absolute;
  color: white;
  z-index: 1;
  line-height: 70px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  width: 100%;
}

.bountyIdWrapper .titleBounty {
  font-size: 20px;
}

.bountyId-modal-title {
  margin: 10px 0 10px 0;
}

.bountyIdClaimWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bountyIdClaimWrapper .Title, .bountyIdClaimWrapper .Url, .bountyIdClaimWrapper .Description, .bountyIdClaimWrapper .Tags {
  width: 190px;
  height: 30px;
  margin: 20px 0 10px 25%;
  text-align: center;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.bountyIdClaimWrapper .Title.bountyIdModalInputDescExpand, .bountyIdClaimWrapper .Url.bountyIdModalInputDescExpand, .bountyIdClaimWrapper .Description.bountyIdModalInputDescExpand, .bountyIdClaimWrapper .Tags.bountyIdModalInputDescExpand {
  height: 60px;
  width: 250px;
  margin: 5px 0 15px 17%;
  border-radius: 4px;
}

.contentModalSubmitBtn.bountyIdBtn {
  height: 25px;
  width: 100px;
  margin: 5px 0 5px 36%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.contentModalSubmitBtn.bountyIdBtn:hover {
  height: 30px;
  width: 150px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 5px 0 5px 32%;
}

nav {
  width: 100%;
  background: #444444;
}

.Container {
  height: 100%;
  width: 100%;
  background-color: #29BEEB;
  position: absolute;
  top: 55px;
  left: 0px;
}

.login-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.loginContainer {
  width: 400px;
  background-color: #F7F7F7;
  border-radius: 4px;
  z-index: 2;
  margin: 5% auto;
}

.topNav {
  background-color: rgba(41, 190, 235, 0.3);
  border-radius: 4px;
  height: 70px;
  opacity: .6;
  z-index: -1;
}

.topNavImage {
  height: 100%;
  z-index: 1;
  background: url("https://devmounta.in/img/logoonly.png") no-repeat;
  background-size: 12%;
  position: relative;
  left: 43%;
  top: 7px;
}

.loginText {
  color: #404041;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newUserLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px;
  cursor: pointer;
  color: #29BEEB;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.newUserLink:hover {
  background: #57BDE8;
  color: white;
  border-radius: 3px;
}

.loginContainerBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 15px 0;
}

.loginEmail {
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 2px solid #EFEFEF;
  text-align: center;
  font-size: larger;
  margin: 10px 0 10px 0;
}

.loginPassword {
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 2px solid #EFEFEF;
  text-align: center;
  font-size: larger;
  margin: 10px 0 10px 0;
}

.buttonLoginSubmit {
  height: 40px;
  width: 155px;
  border-radius: 4px;
  border: 2px;
  margin: 10px 0 10px 0;
  background-color: #2AABE2;
  color: white;
  font-size: larger;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.buttonLoginSubmit:hover {
  background: #57BDE8;
}

.forgotPasswordLink {
  color: #00B8EB;
  margin: 5px auto 10px auto;
  cursor: pointer;
  color: #29BEEB;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.forgotPasswordLink:hover {
  background: #57BDE8;
  color: white;
  border-radius: 4px;
}

.loginText {
  background-color: #F7F7F7;
}

.login-modal-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.ng-modal-overlay {
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 0;
  position: fixed;
  top: 0;
}

.ng-modal-close {
  z-index: 0;
}

.login-modal-navbar {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EFEFEF;
}

.login-modal-logo {
  height: 50px;
  width: 50px;
  background: url("https://devmounta.in/img/logoonly.png") no-repeat;
  background-size: 100%;
  text-align: center;
}

.modalLoginSignup {
  text-align: center;
  font-size: 30px;
  margin: 0 auto 60px auto;
  background: white;
}

.modal-already-user-link {
  font-size: 15px;
  cursor: pointer;
  margin: -50px 0 0 39%;
  color: #29BEEB;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.modal-already-user-link:hover {
  background: #57BDE8;
  color: white;
  border-radius: 4px;
}

.loginModalWrapper .firstName, .loginModalWrapper .lastName, .loginModalWrapper .modalEmail, .loginModalWrapper .modalPassword, .loginModalWrapper .reenterPassword {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 250px;
  border-radius: 4px;
  border: 2px;
  margin: 5px 0 5px 25%;
  text-align: center;
  font-size: larger;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.modal-newuser-button {
  height: 40px;
  margin: 5px 0 0 35%;
  width: 155px;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  font-size: larger;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.modal-newuser-button:hover {
  background: #57BDE8;
}

.modal-forgot-password {
  cursor: pointer;
  margin: 20px 0 0 30%;
  color: #29BEEB;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.modal-forgot-password:hover {
  background: #57BDE8;
  color: white;
  border-radius: 4px;
}

nav {
  width: 100%;
  background: #444444;
  padding: 5px;
}

.navBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: UPPERCASE;
  margin: 0 5%;
  font-size: 1.2em;
  color: #fff;
}

.search-add {
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-add input {
  display: block;
  margin: 5px auto 0  auto;
  height: 30px;
  width: 230px;
  text-align: center;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.search-add button {
  height: 25px;
  width: 95px;
  margin-top: 5px;
  font-size: 10px;
  font-weight: bolder;
  background-color: #29BEEB;
  border-radius: 4px;
  border: 2px;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.search-add button:hover {
  height: 30px;
  width: 125px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  left: 45%;
}

.contentWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts {
  width: 85%;
  margin: 0 0 0 10px;
}

.posts-item {
  padding: 10px 0 10px 0;
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto 10px auto;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 4px;
}

.title {
  font-size: 1.6em;
  margin: 10px 0 0 10px;
}

.thumbnail {
  margin-right: 20px;
  margin-left: 20px;
}

.url {
  text-decoration: underline;
  color: blue;
  font-style: italic;
}

.cat {
  text-transform: uppercase;
  cursor: pointer;
}

.tags {
  font-size: 1em;
}

.fa-info-circle {
  margin-left: 5px;
  font-size: .9em;
}

aside {
  background: #29BEEB;
  padding: 5px 20px 20px 20px;
  border-radius: 4px;
  max-height: 500px;
}

aside a, aside h3 {
  color: #F7F7F7;
}

aside a {
  display: block;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.profileHeaderSpan {
  position: absolute;
  height: 175px;
  line-height: 175px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.profileHeaderColor {
  width: calc(100% + 50px);
  height: 175px;
  background: #29BEEB;
  margin-left: -25px;
}

.profileHeader {
  z-index: -1;
  height: 175px;
  width: 100%;
  background: url("../assets/student7.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 89%;
  opacity: .2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 52px;
  font-weight: bolder;
  color: white;
}

h1 {
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: rgba(41, 190, 235, 0.09);
}

.profile {
  text-align: center;
  width: 100%;
  max-height: calc(100vh/3);
  overflow-y: scroll;
}

.profile.profileInfo {
  margin: 0 auto;
  text-align: center;
  overflow-y: initial;
}

.profile.profileInfo h1 {
  background: white;
}

.navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 200px;
  background: #29BEEB;
  font-size: 1.1em;
  position: fixed;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.navigator a {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  color: #fff;
}

.navigator a:hover {
  color: #444;
}

.userHeaderSpan {
  position: absolute;
  height: 175px;
  line-height: 175px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.userHeaderColor {
  width: calc(100% + 50px);
  height: 175px;
  background: #29BEEB;
  margin-left: -25px;
}

.userHeader {
  z-index: -1;
  height: 175px;
  width: 100%;
  background: url("../assets/student3.png") no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 65%;
  opacity: .2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 52px;
  font-weight: bolder;
  color: white;
}

.userInfoWrapper {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 10px 28%;
  border: 1px solid rgba(128, 128, 128, 0.4);
  width: 50%;
  border-radius: 4px;
}

.userInfoWrapper.posts, .userInfoWrapper .bounties {
  width: 150px;
  margin: 5px 0 5px 40%;
}

.userBucks {
  width: 50px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  margin: 10px 0 10px 46%;
  text-align: center;
}

.userSubmitBtn {
  height: 25px;
  width: 50px;
  margin: 5px 0 5px 46%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.userSubmitBtn:hover {
  height: 30px;
  width: 65px;
  background: #57BDE8;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px;
  margin: 5px 0 5px 45%;
}

.flash-error {
  background-color: #fbe3e4;
  color: #96151b;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center;
}

.flash-success {
  background-color: #e6efc2;
  color: #56651a;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center;
}
