html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 25px;
  height: 100%;
}

.ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0.8;
}

.ng-modal-dialog {
  z-index: 10000;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.ng-modal-dialog-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.ng-modal-dialog-content input {
  font-size: 1.3em;
  margin-top: 10px;
}

nav {
  width: 100%;
  background: #444444;
}

.Container {
  height: 100%;
  width: 100%;
  background-color: #29BEEB;
  position: absolute;
  top: 50px;
}

.loginContainer {
  height: 400px;
  width: 400px;
  background-color: #F7F7F7;
  position: fixed;
  top: 150px;
  left: 35%;
  bottom: 40px;
  border-radius: 10px;
}

.topNav {
  background-color: #EFEFEF;
  border-radius: 10px;
  height: 70px;
}

.topNavImage {
  height: 100%;
  background: url("https://devmounta.in/img/logoonly.png") no-repeat;
  background-size: 12%;
  position: relative;
  left: 43%;
  top: 7px;
}

h1 {
  color: #404041;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginLink {
  color: #00B8EB;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: larger;
}

.username {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: 2px solid #EFEFEF;
  text-align: center;
  font-size: larger;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  left: 120px;
}

.password {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: 2px solid #EFEFEF;
  text-align: center;
  font-size: larger;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  position: absolute;
  left: 120px;
}

.buttonLoginSubmit {
  height: 40px;
  width: 155px;
  border-radius: 5px;
  border: 2px;
  background-color: #2AABE2;
  color: white;
  font-size: larger;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 110px;
  margin-bottom: 20px;
  position: absolute;
  left: 120px;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.buttonLoginSubmit:hover {
  background: #57BDE8;
}

.forgotPasswordLink {
  color: #00B8EB;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 160px;
  margin-bottom: 20px;
  position: absolute;
  left: 135px;
}

nav {
  width: 100%;
  background: #444444;
  padding: 5px;
}

.navBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: UPPERCASE;
  margin: 0 5%;
  font-size: 1.2em;
  color: #fff;
}

.search-add {
  width: 100%;
  height: 50px;
}

.search-add input {
  display: block;
  margin: 15px auto 0  auto;
  height: 30px;
  width: 230px;
}

.search-add button {
  float: right;
  margin-top: -27px;
}

.posts {
  width: 80%;
}

.posts-item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
}

.post.title {
  font-size: 2em;
}

.post.thumbnail {
  margin-right: 20px;
}

.post.url {
  text-decoration: underline;
  color: blue;
  font-style: italic;
}

.post.cat {
  text-transform: uppercase;
  cursor: pointer;
  width: 250px;
}

.post.tags {
  font-size: .7em;
}

.fa-info-circle {
  margin-left: 5px;
  font-size: .9em;
}

aside {
  float: right;
  background: #29BEEB;
  padding: 5px 20px 20px 20px;
  border-radius: 4px;
}

aside a, aside h3 {
  color: #F7F7F7;
}

aside a {
  display: block;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
