nav
    .navBar
        a(ng-href='/#/profile') profile
        img(ng-src='http://nicenicejpg.com/50')
        a(ng-href='/#/bounties') bounties
.container
    .search-add
        input(type='text' ng-model='contentSearchText' placeholder='Search...')
        button New Link
    aside
        a(ng-href='#') HTML
        a(ng-href='#') CSS
        a(ng-href='#') Core JS
        a(ng-href='#') Angular
        a(ng-href='#') MongoDB
        a(ng-href='#') Mongoose
        a(ng-href='#') Node
        a(ng-href='#') Express
        a(ng-href='#') React
        a(ng-href='#') Bootstrap
        a(ng-href='#') Synergy
    .content
        .content-item
            .votes
            .thumbnail
            .title
            .description
