.container
    .search-add
        input(type='text' ng-model='contentSearchText' placeholder='Search...')
        button New Link
    aside
        h3 Categories
        a(ng-href='#') HTML
        a(ng-href='#') CSS
        a(ng-href='#') Core JS
        a(ng-href='#') Angular
        a(ng-href='#') MongoDB
        a(ng-href='#') Mongoose
        a(ng-href='#') Node
        a(ng-href='#') Express
        a(ng-href='#') React
        a(ng-href='#') Git
        a(ng-href='#') Bootstrap
        a(ng-href='#') Synergy
    .posts
        .posts-item
            .post.votes -100
            .post.thumbnail
                img(ng-src='http://nicenicejpg.com/70/90')
            .post.title Sample Title
            .post.url Sample URL
            .post.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis explicabo, culpa, esse ducimus, quaerat soluta tenetur hic sit sint quod molestias repellendus aspernatur, voluptas laudantium in ratione. Quam quibusdam, quasi!
            .post.tags Tags: Tag1, Tag2, Tag3
            .post.type Type: Sweet Image
